{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 100
}
