<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: sans-serif;
      margin: 20px;
      padding: 0;
    }
    button {
      display: block;
      margin-bottom: 10px;
    }
  </style>
  <body>
    <main>
      <button id="nextButton">Next</button>
      <h3 id="header"></h3>
      <button id="moreButton">More</button>
      <p id="description"></p>
      <img id="image" />
    </main>
    <script src="./sculptures.js" rel="noopener"></script>
  </body>
</html>
